@charset "utf-8";
.openerp .oe_calendar_table .calendar_color_11 {
  border-color: #fbe983;
  background-color: #fbe983;
  color: #0d0d0d; }
.openerp .oe_calendar_table .calendar_color_13 {
  border-color: #4986e7;
  background-color: #4986e7;
  color: #0d0d0d; }
.openerp .oe_calendar_table .calendar_color_16 {
  border-color: #92e1c0;
  background-color: #92e1c0;
  color: #0d0d0d; }
.openerp .oe_calendar_table .calendar_color_18 {
  border-color: #b99aff;
  background-color: #b99aff;
  color: #0d0d0d; }